<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.upkeep">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_upkeep"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_upkeep"
        android:supportsRtl="true"
        android:theme="@style/Theme.UpKeep"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".PincodeRentActivity"
            android:exported="false" />
        <activity
            android:name=".CurrentLocationActivity"
            android:exported="false"></activity>
        <activity
            android:name=".activity_tenant.SubmitMaintaineanceActivity"
            android:exported="false" />
        <activity
            android:name=".activity_tenant.ConnectLandlordActivity"
            android:exported="false" />
        <activity
            android:name=".activity_tenant.AddPaymentTenantActivity"
            android:exported="false" />
        <activity
            android:name=".activity_tenant.MainTenantActivity"
            android:exported="false" />
        <activity
            android:name=".activity_tenant.GetStartedTenantActivity"
            android:exported="false" />
        <activity
            android:name=".activity_landlord.EditProfileActivity"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity_landlord.SupportActivity"
            android:exported="false" />
        <activity
            android:name=".activity_landlord.GetStartedActivity"
            android:exported="false" />
        <activity
            android:name=".activity_landlord.AddPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".activity_landlord.AddRepairContactActivity"
            android:exported="false" />
        <activity
            android:name=".activity_landlord.AddPropertyActivity"
            android:exported="false" />
        <activity
            android:name=".activity_landlord.TermsAndConditionsActivity"
            android:exported="false" />
        <activity
            android:name=".activity_landlord.MainActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SliderActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activity_landlord.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".auth.AccountLoginActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>